$colors: (
    primary: #0AADFF,
    // primary: #FF1F1F,
    secondary: #494949,
    highlight1: #002B6C,
    // highlight1: #830000,
    highlight2: #4654EE,
    neutralDark: #1C1D21,
    middleDark: #333333,
    lightDark: #AAAAAA,
    neutralLight: #FFFFFF,
    green: #1CD822,
    red: #FF1F1F
);

:root {
    @each $color, $value in $colors {
        --color-#{$color}: #{$value};
    }
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("/styles/fonts/icons.woff2") format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

* {
    font-family: 'Roboto Condensed', sans-serif;
    scroll-behavior: smooth;
}

body, main, section {
    background-color: var(--color-middleDark);
    margin: 0;
    overflow-x: hidden;
}

main {
    &.container {
        overflow: scroll;
    }
}

h1, h2, h3, h4, h5, h6, p, label {
    margin: 2.5px;
    color: var(--color-neutralLight);

    a {
        cursor: pointer;
        color: var(--color-primary);
    }

    &.primary {
        color: var(--color-primary);
    }
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.8rem;
}

p {
    line-height: 1.5rem;
}

.title {
    font-size: 5rem;
}

img {
    &.logo {
        z-index: 5;
        height: 180px;
        width: 180px;
    }
}

p {
    font-size: 0.8rem;

    &.error {
        color: var(--color-red);
    }
}

a {
    text-decoration: none;

    &:link, &:active, &:visited {
        @extend a;
    }

    &:hover {
        @extend a;
        text-decoration: underline;
    }
}

div, main, section {
    position: relative;

    &#overlay {
        display: none;
        position: fixed;
        height: 100vh;
        width: 100vw;
        z-index: 9;
        background-color: rgba($color: #000000, $alpha: 0.5);
    }

    #features-list {
        padding: 0;
        list-style: none;

        li {
            padding-bottom: 50px;
        }

        .feature {
            opacity: 0;
            height: 0;
            width: 0;

            transform: translateY(-100%);

            background: url("/img/UnitChat-logo.svg");
            background-repeat: no-repeat;

            &.reveal {
                animation: reveal ease-in 1s forwards;
            }

            &.hide {
                opacity: 1;
                height: 430px;
                width: 430px;
                transform: translateY(10%);

                animation: reveal-reverse ease-in 1s forwards;
            }
        }
    }

    &.primary {
        color: var(--color-neutralLight);
        background-color: var(--color-primary);
    }

    &.highlight1 {
        color: var(--color-neutralLight);
        background-color: var(--color-highlight1);
    }

    &.transparent {
        background-color: transparent;
    }
}

ul {
    color: var(--color-neutralLight);
}

#header-background {
    position: absolute;
    top: 0;
    right: 0;
    height: 735px;
    width: 2500px;
    transform: translate(200px, -335px) rotate(7deg);
    overflow: hidden;

    background-color: var(--color-primary);
}

#header-container {
    height: 400px;
    width: 100vw;
    margin-bottom: 40px;
    z-index: 5;
}

header {
    padding: 15px;
    color: var(--color-neutralLight);
    width: 90vw;

    a {
        @extend a;
        color: var(--color-neutralLight);
    }

    nav.container-h {
        @extend .container-h;
        align-items: center;
    }

    nav.mid-links {
        gap: 3rem;
    }
}

input {
    height: 24px;
    width: 220px;
    border: none;
    border-radius: 6px;
    padding: 5px;
    margin: 0px 2.5px;

    background-color: #565656;
    color: var(--color-neutralLight);
    font-size: 1rem;

    &:focus {
        @extend input;
        outline: 1px solid var(--color-primary);
    }

    &.error {
        outline: 1px solid var(--color-red);
    }

    &.success {
        outline: 1px solid var(--color-green);
    }
}

::placeholder {
    color: var(--color-neutralLight);
    opacity: 0.25;
}

button {
    height: 30px;
    min-width: 100px;
    text-align: center;
    line-height: 2.5px;
    font-size: 1rem;
    padding: 15px;
    border-radius: 10px;
    border: none;

    color: var(--color-middleDark);

    &.primary {
        @extend button;
        background-color: var(--color-primary);
    }

    &.neutral-light {
        @extend button;
        background-color: var(--color-neutralLight);
        color: var(--color-primary);
    }

    &.danger {
        @extend button;
        background-color: var(--color-red);
    }

    &:disabled {
        @extend button;
        background-color: var(--color-middleDark);
        color: var(--color-neutralLight);
        opacity: 0.75;
    }

    &:hover {
        @extend button;
        cursor: pointer;
        box-shadow: 0 8px 8px rgba($color: var(--color-neutralDark), $alpha: 0.2);
    }
    
    &.close {
        min-width: 1.25rem;
        height: 1.25rem;
        width: 1.25rem;
        position: absolute;
        top: 3.5%;
        right: 2.5%;

        padding: 0;
        text-align: center;

        background: none;
        color: var(--color-neutralDark);
        font-size: 1.25rem;

        &:hover {
            box-shadow: none;
        }
    }
}

.container {
    display: flex;
    flex-direction: column;
}

.container-h {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.start {
    justify-content: flex-start;
}

.align-start {
    align-items: flex-start;
}

.self-start {
    align-self: flex-start;
}

.end {
    justify-content: flex-end;
}

.align-end {
    align-items: flex-end;
}

.self-end {
    align-self: flex-end;
}

.center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.self-center {
    align-self: center;
}

.around {
    justify-content: space-around;
}

.between {
    justify-content: space-between;
}

#about {
    margin-top: 40vh;
    width: 50vw;

    .container-h {
        gap: 0 30px;
    }
}

#features {
    margin-top: 30vh;
    width: 50vw;
}

.search-results {
    @extend .container, .align-center;

    display: none;

    width: 210px;
    max-height: 90px;
    overflow: scroll;
    padding: 10px;
    background-color: #565656;
    border-radius: 0.5rem;

    button {
        @extend .container-h, .center;

        gap: 0 0.3rem;

        background: none;
        padding: 0;
        min-width: 0;
        margin: 0;

        &:hover {
            box-shadow: none;
        }

        img {
            height: 25px;
            width: 25px;
            border-radius: 25%;
        }

        h5 {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

#conversations-section {
    width: 20vw;
    min-width: 250px;
    height: 100vh;
    background-color: var(--color-secondary);

    &.conversation {
        padding: 15px 25px;
    }
}

#messages-section {
    width: 80vw;
    height: 100vh;
    background-color: var(--color-middleDark);
}

#message-input-container {
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    background-color: var(--color-middleDark);

    .container {
        width: 80%;

        .error-message-container {
            min-height: 64px;
        }

        #typing-icon {
            display: none;
            height: 22.5px;
            margin-right: 2.5px;
            
            span {
                display: inline-block;
                font-size: 1.5rem;
                letter-spacing: 0;
                color: var(--color-neutralLight);

                animation: typing 0.4s linear infinite forwards alternate;
                
                &:nth-child(1) {
                    animation-delay: 0.1s;
                }

                &:nth-child(2) {
                    animation-delay: 0.2s;
                }

                &:nth-child(3) {
                    animation-delay: 0.3s;
                }

            }
        }

        #message-input {
            width: 100%;
            padding: 10px 15px;
            align-self: center;
        }
    }
}

.modal {
    background-color: var(--color-middleDark);
    border-radius: 10px;
    padding: 35px;

    position: fixed;
    top: 60px;
    display: none;
    z-index: 10;
}

.error-message-container {
    display: flex;
    flex-direction: column;
}

#register-form, #login-form {
    gap: 10px 0;
}

#conversation-modal {
    gap: 20px 0;
    min-height: 180px;
    min-width: 400px;
    padding: 20px;

    .container {
        width: 90%;
        gap: 10px;

        .container-h {
            width: 100%;
        }
    }
}

#messages-container {
    height: 100%;
    overflow: scroll;
}

#conversations-section {
    position: relative;
    overflow: scroll;
}

#new-conversation-container {
    background-color: var(--color-primary);

    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;

    button {
        background: none;
        min-width: 0;
        padding: 0;
        color: var(--color-neutralLight);
    }
}

.conversation {
    @extend .container-h;
    width: calc(100% - 4px);
    gap: 0 15px;

    &:first-child {
        margin-top: 2px;
    }
    
    &.selected, &:hover {
        outline: 2px solid var(--color-primary);
    }

    .conversation-img {
        width: 3.5rem;
        height: 3.5rem;
        padding: 1rem;
    }
}

.message {
    @extend .container-h;
    width: 75%;
    margin-bottom: 10px;

    .message-user-info {
        .message-img {
            width: 40px;
            height: 40px;
            border-radius: 25%;
        }
    }

    .message-bubble {
        @extend .container-h;
        background-color: var(--color-primary);
        border-radius: 1rem;
        padding: 0.5rem 0.25rem;
        margin: 0 20px;
        width: 50%;

        form {
            flex: 1;
            input {
                height: 24px;
                width: 95%;
                border: none;
                border-radius: 6px;
                padding: 5px;
                margin: 0px 2.5px;

                background-color: #565656;
                color: var(--color-neutralLight);
                font-size: 0.8rem;
            }
        }

        .message-content {
            min-height: 50%;
            margin: 0 20px;
            flex: 1;

            .message-text {
                word-break: break-all;
                white-space: normal;
            }
        }

        .message-info {
            min-width: 50px;
            min-height: 50px;

            .edit-message {
                background: none;
                color: var(--color-secondary);
                min-width: 0;
                height: 25px;
                padding: 0;
                margin-top: 5px;

                font-size: 0.8rem;
            }

            .delete-message {
                background: none;
                color: var(--color-red);
                min-width: 0;
                height: 25px;
                padding: 0;
                margin-top: 5px;

                font-size: 0.8rem;
            }
        }
    }

    .message-date {
        white-space: nowrap;
    }

    &.outgoing {
        animation-name: message-outgoing;

        .message-date {
            margin-left: auto;
        }

        .message-bubble {
            order: 1;
        }

        .message-user-info {
            order: 2
        }
    }
}

@keyframes reveal {
    80% {
        opacity: 0;
    }
    
    to {
        opacity: 1;
        height: 430px;
        width: 430px;
        transform: translateY(10%);
    }
}

@keyframes reveal-reverse {
    20% {
        opacity: 0;
    }
    
    to {
        opacity: 0;
        height: 0;
        width: 0;
        transform: translateY(-100%);
    }
}

@keyframes typing {
    to {
        color: var(--color-secondary);
        transform: translateY(-10px);
    }
}

@keyframes message {
    0% {
        transform: translateX(-150%);
    }

    80% {
        transform: translateX(10%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes message-outgoing {
    0% {
        transform: translateX(150%);
    }

    80% {
        transform: translateX(-10%);
    }

    100% {
        transform: translateX(0);
    }
}