@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("/styles/fonts/icons.woff2") format("woff2");
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

* {
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  background-color: #1C1D21;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 2.5px;
  color: #FFFFFF;
}

h1 a, h1 a:link, h1 a:active, h1 a:visited, h1 a:hover, h2 a, h2 a:link, h2 a:active, h2 a:visited, h2 a:hover, h3 a, h3 a:link, h3 a:active, h3 a:visited, h3 a:hover, h4 a, h4 a:link, h4 a:active, h4 a:visited, h4 a:hover, h5 a, h5 a:link, h5 a:active, h5 a:visited, h5 a:hover, h6 a, h6 a:link, h6 a:active, h6 a:visited, h6 a:hover, p a, p a:link, p a:active, p a:visited, p a:hover {
  cursor: pointer;
  color: #0AADFF;
}

p {
  font-size: 0.8rem;
}

p.error {
  color: #FF1F1F;
}

a, a:link, a:active, a:visited, a:hover, header a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

div#overlay {
  display: none;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
}

div.highlight1 {
  color: #FFFFFF;
  background-color: #002B6C;
}

div.primary {
  color: #FFFFFF;
  background-color: #0AADFF;
}

header {
  padding: 15px;
  color: #FFFFFF;
}

header a:link, header a:active, header a:visited, header a:hover, header a {
  color: #FFFFFF;
}

header div.container-h, header div.conversation, header div.message, header .message div.message-bubble, .message header div.message-bubble {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header div.mid-links {
  width: 50vw;
  gap: 3rem;
}

section {
  margin: 10px 0px;
}

input, input:focus {
  height: 24px;
  width: 220px;
  border: none;
  border-radius: 6px;
  padding: 5px;
  margin: 0px 2.5px;
  background-color: #565656;
  color: #FFFFFF;
  font-size: 1rem;
}

input:focus {
  outline: 1px solid #0AADFF;
}

input.error {
  outline: 1px solid #FF1F1F;
}

input.success {
  outline: 1px solid #1CD822;
}

::-webkit-input-placeholder {
  color: #FFFFFF;
  opacity: 0.25;
}

:-ms-input-placeholder {
  color: #FFFFFF;
  opacity: 0.25;
}

::-ms-input-placeholder {
  color: #FFFFFF;
  opacity: 0.25;
}

::placeholder {
  color: #FFFFFF;
  opacity: 0.25;
}

button, button.primary, button.neutral-light, button.danger, button:disabled, button:hover {
  height: 30px;
  min-width: 100px;
  text-align: center;
  line-height: 2.5px;
  font-size: 1rem;
  padding: 15px;
  border-radius: 10px;
  border: none;
  color: #333333;
}

button.primary {
  background-color: #0AADFF;
}

button.neutral-light {
  background-color: #FFFFFF;
  color: #0AADFF;
}

button.danger {
  background-color: #FF1F1F;
}

button:disabled {
  background-color: #333333;
  color: #FFFFFF;
  opacity: 0.75;
}

button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 8px 8px rgba(28, 29, 33, 0.2);
          box-shadow: 0 8px 8px rgba(28, 29, 33, 0.2);
}

button.close {
  min-width: 1.25rem;
  height: 1.25rem;
  width: 1.25rem;
  position: absolute;
  top: 3.5%;
  right: 2.5%;
  padding: 0;
  text-align: center;
  background: none;
  color: #1C1D21;
  font-size: 1.25rem;
}

button.close:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-h, header div.container-h, .conversation, .message, .message .message-bubble {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.align-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.self-start {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.align-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.self-end {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.self-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#conversations-section {
  width: 20vw;
  min-width: 250px;
  height: 100vh;
  background-color: #494949;
}

#conversations-section.conversation {
  padding: 15px 25px;
}

#messages-section {
  width: 80vw;
  height: 100vh;
  background-color: #333333;
}

#messages-section .container #message-input-container {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 15px;
  position: relative;
  z-index: 1;
  background-color: #333333;
}

#messages-section .container #message-input-container #message-input {
  width: 80%;
  padding: 10px 15px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.modal {
  background-color: #333333;
  border-radius: 10px;
  padding: 35px;
  position: fixed;
  top: 60px;
  display: none;
  z-index: 1;
}

.error-message-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#register-form, #login-form {
  gap: 10px 0;
}

#messages-container {
  height: 100%;
  overflow: scroll;
}

#conversations-section {
  overflow: scroll;
}

.conversation {
  width: calc(100% - 4px);
  gap: 0 15px;
}

.conversation:first-child {
  margin-top: 2px;
}

.conversation.selected, .conversation:hover {
  outline: 2px solid #0AADFF;
}

.conversation .conversation-img {
  width: 3.5rem;
  height: 3.5rem;
  padding: 1rem;
}

.message {
  width: 75%;
  margin-bottom: 10px;
}

.message .message-user-info .message-img {
  width: 40px;
  height: 40px;
}

.message .message-bubble {
  background-color: #0AADFF;
  border-radius: 1rem;
  padding: 0.5rem 0.8rem;
  margin: 0 20px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.message .message-bubble form {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.message .message-bubble form input {
  height: 24px;
  width: 95%;
  border: none;
  border-radius: 6px;
  padding: 5px;
  margin: 0px 2.5px;
  background-color: #565656;
  color: #FFFFFF;
  font-size: 0.8rem;
}

.message .message-bubble .message-content {
  min-height: 50%;
  margin: 0 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.message .message-bubble .message-content .message-text {
  word-break: break-all;
  white-space: normal;
}

.message .message-bubble .message-info {
  min-width: 75px;
  min-height: 50px;
}

.message .message-bubble .message-info .message-date {
  white-space: nowrap;
}

.message .message-bubble .message-info .edit-message {
  background: none;
  color: #494949;
  min-width: 0;
  height: 25px;
  padding: 0;
  margin-top: 5px;
  font-size: 0.8rem;
}

.message .message-bubble .message-info .delete-message {
  background: none;
  color: #FF1F1F;
  min-width: 0;
  height: 25px;
  padding: 0;
  margin-top: 5px;
  font-size: 0.8rem;
}

#typing {
  margin: 14px;
  margin-top: 5px;
  font-size: 0.8rem;
}
/*# sourceMappingURL=style.css.map */