:root {
  --color-primary: #0AADFF;
  --color-secondary: #494949;
  --color-highlight1: #002B6C;
  --color-highlight2: #4654EE;
  --color-neutralDark: #1C1D21;
  --color-middleDark: #333333;
  --color-lightDark: #AAAAAA;
  --color-neutralLight: #FFFFFF;
  --color-green: #1CD822;
  --color-red: #FF1F1F;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url("/styles/fonts/icons.woff2") format("woff2");
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

* {
  font-family: "Roboto Condensed", sans-serif;
  scroll-behavior: smooth;
}

body, main, section {
  background-color: var(--color-middleDark);
  margin: 0;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-secondary);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-primary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}

h1, h2, h3, h4, h5, h6, p, label {
  margin: 2.5px;
  color: var(--color-neutralLight);
}
h1 a, h1 header a, header h1 a, h1 header a:link, header h1 a:link, h1 header a:active, header h1 a:active, h1 header a:visited, header h1 a:visited, h1 header a:hover, header h1 a:hover, h1 a:hover, h1 a:link, h1 a:active, h1 a:visited, h2 a, h2 header a, header h2 a, h2 header a:link, header h2 a:link, h2 header a:active, header h2 a:active, h2 header a:visited, header h2 a:visited, h2 header a:hover, header h2 a:hover, h2 a:hover, h2 a:link, h2 a:active, h2 a:visited, h3 a, h3 header a, header h3 a, h3 header a:link, header h3 a:link, h3 header a:active, header h3 a:active, h3 header a:visited, header h3 a:visited, h3 header a:hover, header h3 a:hover, h3 a:hover, h3 a:link, h3 a:active, h3 a:visited, h4 a, h4 header a, header h4 a, h4 header a:link, header h4 a:link, h4 header a:active, header h4 a:active, h4 header a:visited, header h4 a:visited, h4 header a:hover, header h4 a:hover, h4 a:hover, h4 a:link, h4 a:active, h4 a:visited, h5 a, h5 header a, header h5 a, h5 header a:link, header h5 a:link, h5 header a:active, header h5 a:active, h5 header a:visited, header h5 a:visited, h5 header a:hover, header h5 a:hover, h5 a:hover, h5 a:link, h5 a:active, h5 a:visited, h6 a, h6 header a, header h6 a, h6 header a:link, header h6 a:link, h6 header a:active, header h6 a:active, h6 header a:visited, header h6 a:visited, h6 header a:hover, header h6 a:hover, h6 a:hover, h6 a:link, h6 a:active, h6 a:visited, p a, p header a, header p a, p header a:link, header p a:link, p header a:active, header p a:active, p header a:visited, header p a:visited, p header a:hover, header p a:hover, p a:hover, p a:link, p a:active, p a:visited, label a, label header a, header label a, label header a:link, header label a:link, label header a:active, header label a:active, label header a:visited, header label a:visited, label header a:hover, header label a:hover, label a:hover, label a:link, label a:active, label a:visited {
  cursor: pointer;
  color: var(--color-primary);
}
h1.primary, h2.primary, h3.primary, h4.primary, h5.primary, h6.primary, p.primary, label.primary {
  color: var(--color-primary);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.8rem;
}

p {
  line-height: 1.5rem;
}

.title {
  font-size: 5rem;
}

img.logo {
  z-index: 5;
  height: 180px;
  width: 180px;
}

p {
  font-size: 0.8rem;
}
p.error {
  color: var(--color-red);
}

a, header a, a:hover, a:link, a:active, a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

div, main, section {
  position: relative;
}
div#overlay, main#overlay, section#overlay {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
div #features-list, main #features-list, section #features-list {
  padding: 0;
  list-style: none;
}
div #features-list li, main #features-list li, section #features-list li {
  padding-bottom: 50px;
}
div #features-list .feature, main #features-list .feature, section #features-list .feature {
  position: relative;
  opacity: 0;
  height: 0;
  width: 0;
  transform: translateY(-100%);
}
div #features-list .feature video, main #features-list .feature video, section #features-list .feature video {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
}
div #features-list #feature-1 .reveal, main #features-list #feature-1 .reveal, section #features-list #feature-1 .reveal {
  -webkit-animation: reveal-1 ease-in 1s forwards;
          animation: reveal-1 ease-in 1s forwards;
}
div #features-list #feature-1 .hide, main #features-list #feature-1 .hide, section #features-list #feature-1 .hide {
  opacity: 1;
  height: 341px;
  width: 935px;
  transform: translateY(10%);
  -webkit-animation: reveal-reverse ease-in 1s forwards;
          animation: reveal-reverse ease-in 1s forwards;
}
div #features-list #feature-2 .reveal, main #features-list #feature-2 .reveal, section #features-list #feature-2 .reveal {
  -webkit-animation: reveal-2 ease-in 1s forwards;
          animation: reveal-2 ease-in 1s forwards;
}
div #features-list #feature-2 .hide, main #features-list #feature-2 .hide, section #features-list #feature-2 .hide {
  opacity: 1;
  height: 178px;
  width: 852px;
  transform: translateY(10%);
  -webkit-animation: reveal-reverse ease-in 1s forwards;
          animation: reveal-reverse ease-in 1s forwards;
}
div #features-list #feature-3 .reveal, main #features-list #feature-3 .reveal, section #features-list #feature-3 .reveal {
  -webkit-animation: reveal-3 ease-in 1s forwards;
          animation: reveal-3 ease-in 1s forwards;
}
div #features-list #feature-3 .hide, main #features-list #feature-3 .hide, section #features-list #feature-3 .hide {
  opacity: 1;
  height: 400px;
  width: 500px;
  transform: translateY(10%);
  -webkit-animation: reveal-reverse ease-in 1s forwards;
          animation: reveal-reverse ease-in 1s forwards;
}
div.primary, main.primary, section.primary {
  color: var(--color-neutralLight);
  background-color: var(--color-primary);
}
div.highlight1, main.highlight1, section.highlight1 {
  color: var(--color-neutralLight);
  background-color: var(--color-highlight1);
}
div.transparent, main.transparent, section.transparent {
  background-color: transparent;
}

ul {
  color: var(--color-neutralLight);
}

#header-background {
  position: absolute;
  top: 0;
  right: 0;
  height: 735px;
  width: 2500px;
  transform: translate(200px, -335px) rotate(7deg);
  overflow: hidden;
  background-color: var(--color-primary);
}

#header-container {
  height: 400px;
  width: 100vw;
  margin-bottom: 40px;
  z-index: 5;
}

header {
  padding: 15px;
  color: var(--color-neutralLight);
  width: 90vw;
}
header a, header a:link, header a:active, header a:visited, header a:hover {
  color: var(--color-neutralLight);
}
header nav.container-h, header .message nav.message-bubble, .message header nav.message-bubble, header nav.message, header nav.conversation {
  align-items: center;
}
header nav.mid-links {
  gap: 3rem;
}

input, input:focus {
  height: 24px;
  width: 220px;
  border: none;
  border-radius: 6px;
  padding: 5px;
  margin: 0px 2.5px;
  background-color: #565656;
  color: var(--color-neutralLight);
  font-size: 1rem;
}
input:focus {
  outline: 1px solid var(--color-primary);
}
input.error {
  outline: 1px solid var(--color-red);
}
input.success {
  outline: 1px solid var(--color-green);
}

::-moz-placeholder {
  color: var(--color-neutralLight);
  opacity: 0.25;
}

:-ms-input-placeholder {
  color: var(--color-neutralLight);
  opacity: 0.25;
}

::placeholder {
  color: var(--color-neutralLight);
  opacity: 0.25;
}

button, button:hover, button:disabled, button.danger, button.neutral-light, button.primary {
  height: 30px;
  min-width: 100px;
  text-align: center;
  line-height: 2.5px;
  font-size: 1rem;
  padding: 15px;
  border-radius: 10px;
  border: none;
  color: var(--color-middleDark);
}
button.primary {
  background-color: var(--color-primary);
}
button.neutral-light {
  background-color: var(--color-neutralLight);
  color: var(--color-primary);
}
button.danger {
  background-color: var(--color-red);
}
button:disabled {
  background-color: var(--color-middleDark);
  color: var(--color-neutralLight);
  opacity: 0.75;
}
button:hover {
  cursor: pointer;
  box-shadow: 0 8px 8px rgba(var(--color-neutralDark), 0.2);
}
button.close {
  min-width: 1.25rem;
  height: 1.25rem;
  width: 1.25rem;
  position: absolute;
  top: 3.5%;
  right: 2.5%;
  padding: 0;
  text-align: center;
  background: none;
  color: var(--color-neutralDark);
  font-size: 1.25rem;
}
button.close:hover {
  box-shadow: none;
}

.container, .search-results {
  display: flex;
  flex-direction: column;
}

.container-h, .message .message-bubble, .message, header nav.message, .conversation, header nav.conversation, .search-results button, header nav.container-h {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.start {
  justify-content: flex-start;
}

.align-start {
  align-items: flex-start;
}

.self-start {
  align-self: flex-start;
}

.end {
  justify-content: flex-end;
}

.align-end {
  align-items: flex-end;
}

.self-end {
  align-self: flex-end;
}

.center, .search-results button {
  justify-content: center;
}

.align-center, .search-results {
  align-items: center;
}

.self-center {
  align-self: center;
}

.around {
  justify-content: space-around;
}

.between {
  justify-content: space-between;
}

#about {
  margin-top: 40vh;
  width: 50vw;
}
#about .container-h, #about .message .message-bubble, .message #about .message-bubble, #about .message, #about .conversation, #about .search-results button, .search-results #about button {
  gap: 0 30px;
}

#features {
  margin-top: 30vh;
  width: 50vw;
}

.search-results {
  display: none;
  width: 210px;
  max-height: 90px;
  overflow: scroll;
  padding: 10px;
  background-color: #565656;
  border-radius: 0.5rem;
}
.search-results button {
  gap: 0 0.3rem;
  background: none;
  padding: 0;
  min-width: 0;
  margin: 0;
}
.search-results button:hover {
  box-shadow: none;
}
.search-results button img {
  height: 25px;
  width: 25px;
  border-radius: 25%;
}
.search-results button h5:hover {
  text-decoration: underline;
}

#conversations-section {
  width: 20vw;
  min-width: 250px;
  height: 100vh;
  background-color: var(--color-secondary);
}
#conversations-section.conversation {
  padding: 15px 25px;
}

#messages-section {
  width: 80vw;
  height: 100vh;
  background-color: var(--color-middleDark);
}

#message-input-container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  background-color: var(--color-middleDark);
}
#message-input-container .container, #message-input-container .search-results {
  width: 80%;
}
#message-input-container .container .error-message-container, #message-input-container .search-results .error-message-container {
  min-height: 64px;
}
#message-input-container .container #typing-icon, #message-input-container .search-results #typing-icon {
  display: none;
  height: 22.5px;
  margin-right: 2.5px;
}
#message-input-container .container #typing-icon span, #message-input-container .search-results #typing-icon span {
  display: inline-block;
  font-size: 1.5rem;
  letter-spacing: 0;
  color: var(--color-neutralLight);
  -webkit-animation: typing 0.4s linear infinite forwards alternate;
          animation: typing 0.4s linear infinite forwards alternate;
}
#message-input-container .container #typing-icon span:nth-child(1), #message-input-container .search-results #typing-icon span:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
#message-input-container .container #typing-icon span:nth-child(2), #message-input-container .search-results #typing-icon span:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
#message-input-container .container #typing-icon span:nth-child(3), #message-input-container .search-results #typing-icon span:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
#message-input-container .container #message-input, #message-input-container .search-results #message-input {
  width: 100%;
  padding: 10px 15px;
  align-self: center;
}

.modal {
  background-color: var(--color-middleDark);
  border-radius: 10px;
  padding: 35px;
  position: fixed;
  top: 60px;
  display: none;
  z-index: 10;
}

.error-message-container {
  display: flex;
  flex-direction: column;
}

#register-form, #login-form {
  gap: 10px 0;
}

#conversation-modal {
  gap: 20px 0;
  min-height: 180px;
  min-width: 400px;
  padding: 20px;
}
#conversation-modal .container, #conversation-modal .search-results {
  width: 90%;
  gap: 10px;
}
#conversation-modal .container .container-h, #conversation-modal .container .message .message-bubble, .message #conversation-modal .container .message-bubble, #conversation-modal .container .message, #conversation-modal .container .conversation, #conversation-modal .search-results .container-h, #conversation-modal .search-results .message .message-bubble, .message #conversation-modal .search-results .message-bubble, #conversation-modal .search-results .message, #conversation-modal .search-results .conversation, .search-results #conversation-modal .container button, #conversation-modal .search-results button {
  width: 100%;
}

#messages-container {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

#conversations-section {
  position: relative;
  overflow-y: auto;
}

#new-conversation-container {
  background-color: var(--color-primary);
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
}
#new-conversation-container button {
  background: none;
  min-width: 0;
  padding: 0;
  color: var(--color-neutralLight);
}

.conversation {
  width: calc(100% - 4px);
  gap: 0 15px;
}
.conversation:first-child {
  margin-top: 2px;
}
.conversation.selected, .conversation:hover {
  outline: 2px solid var(--color-primary);
}
.conversation .conversation-img {
  width: 3.5rem;
  height: 3.5rem;
  padding: 1rem;
}

.message {
  width: 75%;
  margin-bottom: 10px;
}
.message .message-user-info .message-img {
  width: 40px;
  height: 40px;
  border-radius: 25%;
}
.message .message-bubble {
  background-color: var(--color-primary);
  border-radius: 1rem;
  padding: 0.5rem 0.25rem;
  margin: 0 20px;
  width: 50%;
}
.message .message-bubble form {
  flex: 1;
}
.message .message-bubble form input {
  height: 24px;
  width: 95%;
  border: none;
  border-radius: 6px;
  padding: 5px;
  margin: 0px 2.5px;
  background-color: #565656;
  color: var(--color-neutralLight);
  font-size: 0.8rem;
}
.message .message-bubble .message-content {
  min-height: 50%;
  margin: 0 20px;
  flex: 1;
}
.message .message-bubble .message-content .message-text {
  word-break: break-all;
  white-space: normal;
}
.message .message-bubble .message-info {
  min-width: 50px;
  min-height: 50px;
}
.message .message-bubble .message-info .edit-message {
  background: none;
  color: var(--color-secondary);
  min-width: 0;
  height: 25px;
  padding: 0;
  margin-top: 5px;
  font-size: 0.8rem;
}
.message .message-bubble .message-info .delete-message {
  background: none;
  color: var(--color-red);
  min-width: 0;
  height: 25px;
  padding: 0;
  margin-top: 5px;
  font-size: 0.8rem;
}
.message .message-date {
  white-space: nowrap;
}
.message.outgoing {
  -webkit-animation-name: message-outgoing;
          animation-name: message-outgoing;
}
.message.outgoing .message-date {
  margin-left: auto;
}
.message.outgoing .message-bubble {
  order: 1;
}
.message.outgoing .message-user-info {
  order: 2;
}

@-webkit-keyframes reveal-1 {
  80% {
    opacity: 0;
  }
  to {
    opacity: 1;
    height: 341px;
    width: 935px;
    transform: translateY(10%);
  }
}

@keyframes reveal-1 {
  80% {
    opacity: 0;
  }
  to {
    opacity: 1;
    height: 341px;
    width: 935px;
    transform: translateY(10%);
  }
}
@-webkit-keyframes reveal-2 {
  80% {
    opacity: 0;
  }
  to {
    opacity: 1;
    height: 178px;
    width: 852px;
    transform: translateY(10%);
  }
}
@keyframes reveal-2 {
  80% {
    opacity: 0;
  }
  to {
    opacity: 1;
    height: 178px;
    width: 852px;
    transform: translateY(10%);
  }
}
@-webkit-keyframes reveal-3 {
  80% {
    opacity: 0;
  }
  to {
    opacity: 1;
    height: 400px;
    width: 500px;
    transform: translateY(10%);
  }
}
@keyframes reveal-3 {
  80% {
    opacity: 0;
  }
  to {
    opacity: 1;
    height: 400px;
    width: 500px;
    transform: translateY(10%);
  }
}
@-webkit-keyframes reveal-reverse {
  20% {
    opacity: 0;
  }
  to {
    opacity: 0;
    height: 0;
    width: 0;
    transform: translateY(-100%);
  }
}
@keyframes reveal-reverse {
  20% {
    opacity: 0;
  }
  to {
    opacity: 0;
    height: 0;
    width: 0;
    transform: translateY(-100%);
  }
}
@-webkit-keyframes typing {
  to {
    color: var(--color-secondary);
    transform: translateY(-10px);
  }
}
@keyframes typing {
  to {
    color: var(--color-secondary);
    transform: translateY(-10px);
  }
}
@-webkit-keyframes message {
  0% {
    transform: translateX(-150%);
  }
  80% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes message {
  0% {
    transform: translateX(-150%);
  }
  80% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes message-outgoing {
  0% {
    transform: translateX(150%);
  }
  80% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes message-outgoing {
  0% {
    transform: translateX(150%);
  }
  80% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0);
  }
}/*# sourceMappingURL=style.css.map */